/*
    Document   : styles.css
    Created on : 2015-12-03 12:46 PM
    Author     : ME-karkkaal
    Description:
    Purpose of the stylesheet follows.
    To change this template use Tools | Templates.
*/
 body {
    background-image: url(concrete_seamless.png);
}
table {
    background-color: white;
}
.row {
    margin-bottom: 2em;
}

#map {
	height: 20em;
}

#varoitus{
	font-size : 20px;
	color : red;
}

table.dataTable thead .sorting, 
table.dataTable thead .sorting_asc, 
table.dataTable thead .sorting_desc {
    background : none;
}

#taulukkoDiv {
	padding-top: 0;
	padding-bottom: 0;
}


